
*{
    box-sizing: border-box;
}

body {
    
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
h3{
    font-weight: bold;
}

span{
    font-size: 0.9em;
    margin: 10px;
    padding: 15px;
}
li:hover{
    background-color: rgb(112, 124, 136);
    text-decoration: underline;
}

.row {
   margin: 10px;
}


#future-weather{
    margin: 15px;
    padding: 15px;
}